body {
    background-color: white;
}
h1 {
    color: black;
}
p {
    color: black;
    border: 2px solid white;
}

.main {
    width: 60vw;
    height: 60vw;
    margin: 25 auto;
    border-style: solid;
    border-width: 5px;
    border-color: #bf3730;
}

.topnav {
    background-color: #bf3730;
    overflow: hidden;
    position: relative;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #bf3730;
    color: white;
}

.image {
    width: 20px;
    height: 20px;
    align-self: center;
    padding: 3px 3px;
    scale: 200%;
    vertical-align: middle;
}

.topnav-right {
    float: right;
}

.logo {
    width: 20px;
    height: 20px;
    align-self: center;
    padding: 3px 3px;
    scale: 250%;
}

.topnav-center {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}