body {
    background-color: white;
}
h1 {
    color: black;
}
p {
    color: black;
    border: 2px solid white;
}
.main {
    width: 60vw;
    height: 60vw;
    margin: 25 auto;
    border-style: solid;
    border-width: 5px;
    border-color: #3c68b2;
}
